.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #000000;
  padding: 1rem;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

nav ul li {
  list-style: none;
  font-size: 14px;
}

nav ul .left-side {
  display: flex;
  gap: 2rem;
  justify-content: left;
  margin-left: 5rem;
  align-items: center;
}

.right-side {
  margin-right: 5rem;

}

.right-side ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.right-side ul li {
  list-style: none;

}

.right-side ul li:hover {
  cursor: pointer;
  scale: 0.9;
  color: red;
}

.right-side ul li {
  transition: all 0.2s ease-in-out;

}

nav ul li p:hover {
  cursor: pointer;
}

nav ul li .hot {
  background-color: red;
  padding: 0.2rem 12px;
  border-radius: 40%;
}

nav ul li {
  display: flex;
  align-items: center;

}
